  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  * {
    font-family: "Poppins";
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
  }

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .stickys {
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
    transition: all 0.3s ease;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  }
  
  .bstickys {
    transition: all 0.3s ease;
  }
  
  .sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  
  .spacer {
      aspect-ratio: 900/200;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
  
  .layer1 {
      background-image: url('./assets/waves1.svg');
  }
  
  .layer2 {
      background-image: url('./assets/waves2.svg');
  }
  
  .layer3 {
      background-image: url('./assets/waves3.svg');
  }

  .layer4 {
      background-image: url('./assets/waves4.svg');
  }
  
  svg {
    pointer-events: none;
  }
  
  img {
    pointer-events: none;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #D8DEE9;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #88C0D0;
  }

  .card-shadow {
    transition: all 0.7s ease;
  }

  :hover.card-shadow {
    transition: all 0.7s ease;
    box-shadow: 0px 13px 12px 4px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 13px 12px 4px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 13px 12px 4px rgba(0,0,0,0.08);
  }